@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");


*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;   
}

body, button, input {
    font-family: "Source Sans 3", sans-serif;    
}

:root {
    --white: #ffffff;
    --yellow: #ffe83d;
    --text-header: #111111;
    --text-subheader: #333333;
    --text-paragraph: #555555;
    --text-accent: #666666;
    --gray-box: rgba(153, 153, 153, 0.2);
    --contact-input-background: #f0f0f0;
    --gray-background: #fafafa;
    --black: #000000;
}

h1 {
    font-size: 2.5rem;
    color: var(--text-header);
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 2px;
    margin-bottom: 2rem;
    position: relative;
}

#h1-hero {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#h1-hero:hover {
    scale: 1.05;
    transform: translateY(-2px);
}

.animate-h1 {
    scale: 1.05;
    transform: translateY(-2px);
}

.animate-img {
    opacity: 1!important;
}


h2 {
    font-size: 2.25rem;
    color: var(--text-header);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 2px;
    margin: 2rem 0 2rem 0;
}

h3 {
    font-size: 1.375rem;
    color: var(--text-subheader);
    letter-spacing: .4px;
    line-height: 1.8;
    font-weight: 800;
    margin-bottom: 2rem;
}

h4 {
    font-size: 1.125rem;
    color: var(--text-subheader);
    letter-spacing: .4px;
    line-height: 1.8;
    font-weight: 400;
}

p {
    font-size: 1rem;
    color: var(--text-paragraph);
    letter-spacing: .8px;
    line-height: 1.8;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    visibility: hidden;    
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

a, i  {
    z-index: 1 !important;
}

/* TITLE DIV */

.title-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

/* AFTER TITLES */

.title-after {
    position: relative;
    margin-bottom: 3rem;
}
.title-after::after {
    position: absolute;
    top: calc(100% + 1rem);
    content: '';
    height: 5px;
    width: 2rem;
    background: var(--yellow);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

/* BUTTONS */
button {
    text-transform: uppercase;
    background-color: var(--yellow);
    padding: 1rem 5rem;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: .4px;
    color: var(--text-header);
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 12px 4px #0000004D;
    margin: 3rem 0 1rem;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.button-small {
    font-size: 16px;
    padding: 1rem 4rem;
    margin: 3rem 0 0;
}

button:hover {
    transform: translateY(-4px);
    scale: 1.04;
    box-shadow: 0 6px 12px 2px #00000033;
}

.project-summary-btns {
    display: flex;
    flex-direction: column;
}

.project-link, .project-back-btn {
    margin: 0 0 2rem;
    width: 15rem;
}

.project-back-btn {
    background-color: var(--gray-background);
}





.hero-section:has(h1:hover) .manny-img {
    opacity: 1;
}

/* SKILLS */
.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skills-list li {
    padding: .75rem 1.5rem;
    list-style: none;
    background-color: var(--gray-box);
    border-radius: 8px;
    margin: 0 .8rem .8rem 0;
    font-weight: 600;
    color: var(--text-accent);
    font-size: .925rem;
}

.scale-animation {
    animation: scale .7s;
}


@keyframes scale {
    
    50% {
    scale: 1.05;
    background-color: var(--yellow);
    transform: translateY(-2px);
    }
    100% {
    scale: 1;
    background-color: var(--gray-box);
    }
}

/* PROJECT 1 */
.project-summary-section {
    background-color: var(--gray-background);
    display: flex;
    justify-content: center;
}

.project-summary-container {
    max-width: 78rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem 3rem;
}

.project-summary-video {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.videos-container {
    display: flex;
    overflow: hidden;
    width: 92vw;
    max-width: 60rem;
}

.project-media-item{
    transition: all ease-in-out .35s;
}

.project-summary-video video {
    max-width: 60rem;
    width: 92vw;
    transition: all ease-in-out .35s;
}

.project-summary-video img {
    max-width: 60rem;
    width: 92vw;
    transition: all ease-in-out .35s;
}

.placeholder-img {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 60rem;
    width: 92vw;
    animation: pulse 2.3s infinite;
}
  
@keyframes pulse {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
}


.placeholder-img img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.placeholder-img video {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.placeholder-img.loaded {
    animation: none;
    background-image: none !important;
}
  
.placeholder-img.loaded img {
    opacity: 1;
}

.placeholder-img.loaded video {
    opacity: 1;
}

.video-nav {
    display: flex;
    justify-content: center;
    align-items: start;
    grid-column-gap: 4.5rem;
    z-index: 1;
    overflow: hidden;
    height: 64px;
    padding: 12px;
}

.video-nav-btn {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 1px 4px 1px #00000033;
    transition: all ease-in-out .2s;
}

.video-nav-btn:hover {
    transform: translateY(-4px);
    scale: 1.2;
    box-shadow: 0 3px 5px 0px #0000001F;
    cursor: pointer;
}

.video-nav-btn:active {
    transform: translateY(2px);
    scale: 1;
    box-shadow: none;
    cursor: pointer;
}

.nav-disabled {
    background-color: #EBEBE4;
    box-shadow: none;
}

.nav-disabled rect {
    fill: #707070;
}

.nav-disabled:hover {
    transform: none;
    scale: none;
    box-shadow: none;
    cursor: unset;
}

.video-titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 1rem;
}

.video-title {
    color: var(--text-subheader);
    border-bottom: solid 3px var(--yellow);
    text-transform: uppercase;
    font-weight: 700;
    transition: all ease-in-out .2s;
}

p.video-title {
    transition: all ease-in-out .3s;
}

.video-title span {
    display: none;
}

.project-summary-copy {
    max-width: 47rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 3rem;
}


@media only screen and (min-width: 408px) {
    .video-title span {
        display: unset;
    }

    .video-nav {
        grid-column-gap: 1rem;
    }
}

@media only screen and (min-width: 461px) {
    .video-nav {
        grid-column-gap: 3rem;
    }
}

@media only screen and (max-width: 601px) {
    .hero-content {
        max-width: 30rem;
    }
    
    .mouse-section {
        display: none;
    }

}

  @media only screen and (min-width: 601px) {
    .circle {
        visibility: visible;
    }

    .hide-601 {
        display: none;
    }

    .show-601 {
        display: flex !important;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }
    
    p {
        font-size: 1.125rem;
        max-width: 47rem;
    }

    .skills-list li {
        font-size: 1rem;
        padding: 1rem 2rem;
        margin: 0 1rem 1rem 0;
        
    }

    .form-item {
        font-size: 1rem;
    }

    .about-section, .projects-section, .contact-section, footer, .project-summary-section {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .form-container button {
        margin-left: auto;
        padding: 1rem 5rem;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        grid-column-gap: 2.5rem;
    }

    .footer-social {
        grid-column: 2 / 3;
        grid-row: 1;
        margin-left: auto;
    }

    .footer-about {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .project-summary-btns {
        flex-direction: row;
        grid-column-gap: 4rem;
    }

}