---
import Layout from '../layouts/Layout.astro';
import ProjectHero from '../components/ProjectHero.astro';
---

<Layout>

<ProjectHero title="Explainer Visuals" description="This video production company needed a modern website that could house their large portfolio of videos and have them load all at once." buttontext='live link' link="https://explainervisuals.com" />


<div class="project-summary-section">
	<div class="project-summary-container">
		<!-- video -->
		<div class="project-summary-video">
			<div class="video-nav">
				<div class="video-nav-btn" id="video-nav-prev">
				<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img" style="transform: rotate(225deg);">
						<rect x="13.8" y="8.3999" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="15.6001" y="6.6001" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="15.6001" y="10.2002" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="15.6001" y="8.3999" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="12" y="6.6001" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="13.8" y="6.6001" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="12" y="10.2002" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="10.2002" y="12" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="6.6001" y="15.6001" width="1.8" height="1.8" fill="var(--text-header)"></rect>	
					</svg>
				</div>
				<div class="video-titles-container">
					<!-- spans hides text in very small screens -->
						<p class="video-title"><span>Showcasing the </span>quality</p>
						<p class="video-title"><span>Highlighting the </span>value</p>
						<p class="video-title"><span>FAQ and </span>Footer</p>
										
				</div>
				<div class="video-nav-btn" id="video-nav-next">
					<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img" style="transform: rotate(45deg)">		
						<rect x="13.8" y="8.3999" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="15.6001" y="6.6001" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="15.6001" y="10.2002" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="15.6001" y="8.3999" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="12" y="6.6001" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="13.8" y="6.6001" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="12" y="10.2002" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="10.2002" y="12" width="1.8" height="1.8" fill="var(--text-header)"></rect>
						<rect x="6.6001" y="15.6001" width="1.8" height="1.8" fill="var(--text-header)"></rect>	
					</svg>
				</div>
			</div>

			<div class="videos-container">
				<div class="placeholder-img project-media-item" style="background-image: url(/images/explainer-visuals-thumbnail.svg);">
					<video class="project-video-item" playsinline autoplay muted loop src="videos/explainer-visuals-thumbnail.mp4"></video>
				</div>
				<div class="placeholder-img project-media-item" style="background-image: url(/images/explainer-visuals-thumbnail.svg);">
					<video class="project-video-item" playsinline autoplay muted loop src="videos/web-development-project-explainer-visuals-process.mp4"></video>
				</div>
				<div class="placeholder-img project-media-item" style="background-image: url(/images/explainer-visuals-thumbnail.svg);">
					<video class="project-video-item" playsinline autoplay muted loop src="videos/web-development-project-explainer-visuals-footer.mp4"></video>
				</div>
			</div>

		</div>

		<!-- Copy -->
		<div class="project-summary-copy">
			<div>
				<h3>Project Overview</h3>
				<p>Explainer Visuals is a video production company that focuses on creating animated explainer videos for SAAS businesses. They needed a fresh and engaging website that could house their portfolio of videos. They wanted the videos to play automatically, which meant the website would need to load ultra fast in order to handle this kind of bandwidth.</p><br />
				<p>After looking at their reference requests, I used Figma to create mockup designs that followed their specifications before moving on to the actual development of the site. The design is modern and playful, with animations placed throughout to keep visitors engaged. I used Astro JS to create a fast loading static website, and converted their videos into m3U playlists for ultra fast loading, even when all videos are being loaded at the same time. Goodbye buffer wheels!</p><br />
				<p>The team at Explainer Visuals received very positive feedback from their clients and are highly satisfied with the way the site turned out. Another successful project in the books.</p>
			</div>

			<!-- Tools Used -->
			<div>
				<h3>Tools Used</h3>
				<ul class="skills-list">
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>Astro JS</li>
					<li>Shell Scripts</li>
					<li>Figma</li>
					<li>ChatGPT</li>
				</ul>
			</div>

			<!-- Button Links -->
			<div>
				<h3>See It Live</h3>
				<div class="project-summary-btns">
					<a href="https://explainervisuals.com" target="_blank">
						<button class="button-small project-link">live link</button>
					</a>
					<a href="/#project-section">
						<button class="button-small project-back-btn">go back</button>
					</a>
				</div>
			</div>

		</div>
	</div>

</div>


</Layout>